.Main {
  height: 100%;
  display: grid;
  grid-template-areas: 'Header Header''UpperLeft Right''LowerLeft Right';
  grid-template-rows: 100px 1fr 30%;
  grid-template-columns: auto 40vh;
  background: linear-gradient(to bottom right, #dd81e7, #00a7da);
}

.Header {
  grid-area: Header;
  display: flex;
  justify-content: space-evenly;

  background-color: rgb(71, 71, 71);
  overflow: hidden;
  width: 100%;
}


.Title {
  color: white;
  font-size: 40px;
}



button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  color: black;
}

#redbutton {
  background-color: red;
}

#yellowbutton {
  background-color: yellow;
}

#greenbutton {
  background-color: greenyellow;
}

.trafficLight {
  grid-area: Right;
  display: flex;
  text-align: center;
  justify-content: center;

}

.MainPart {
  grid-area: UpperLeft;
}

.graphArea {
  grid-area: LowerLeft;
  height: 100%;
  width: 100%;

  background-color: #c1e7f3;

}






.circle {
  width: 30vh;
  height: 30vh;
  border-radius: 15vh;
  background-color: red;
  z-index: 2;
}


.circle0 {
  width: 30vh;
  height: 30vh;
  border-radius: 15vh;
  background-color: yellow;
  z-index: 3;
  top: 33.3%;
}

.circle1 {
  width: 30vh;
  height: 30vh;
  border-radius: 15vh;
  background-color: greenyellow;
  z-index: 4;
  top: 66.6%;
}

.square {
  width: 30vh;
  height: 90vh;
  background-color: grey;
  border-style: solid;
  border-color: black;
  z-index: 1;
}